{{/* Header */}}
<div class="header">
    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <div class="header-title-links">
        <!-- Site Title -->
        <h1 class="header-title">{{ .Site.Title }}</h1>

        <!-- Navigation Links -->
        <div class="links">
            {{ $currentPage := . }}
            {{ with site.Params.menu }}
            {{ range . }}
                <p class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
                    <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab }}target="_blank" rel="noopener noreferrer"{{ end }}>
                        /{{.name }}
                    </a>
                </p>
            {{ end }}
            {{ end }}
        </div>
    </div>

    <!-- Profile Picture -->
    {{ if .Site.Params.profilePicture }}
        <img src="{{ .Site.Params.profilePicture | absURL }}" alt="Profile Picture" class="profile-picture">
    {{ end }}

    {{ end }}
</div>
